.ani-app {
  background: url(https://transitive-bullshit.github.io/react-starfield-animation/static/media/stars.492b41ed.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-container {
  padding-top: 70px;
  margin-bottom: 70px;
}
.name-color {
  color: tomato;
}
.view-btn {
  padding: 5px 15px;
  border: 1px solid red;
}
.cv-btn {
  border: 1px solid gray !important;
  padding: 5px 10px !important;
}
.hexagon {
  background-color: #04c2c9;
  display: inline-block;
  height: 80px;
  width: 100px;
  border-radius: 50%;
}
.bg-dark {
  background-color: #343a40 !important;
  position: sticky;
  top: 0;
  z-index: 9;
}
.power-icon {
  font-size: 50px;
}
.contact-container {
  background-color: rgba(11, 18, 13);
  padding-top: 70px;
}
.contact-form {
  max-width: 500px;
  margin: 0 auto !important;
}
.own-img {
  max-height: 50%;
  max-width: 50%;
}
.pr-img {
  border: 1px solid gray;
}
.skills h5 {
  height: 100%;
  font-size: 18px;
  padding-top: 5px;
}
