.ani-app {
  background-color: #343a40;
}

.name-color {
  color: #c74414;
}
.view-btn {
  padding: 5px 15px;
  border: 1px solid red;
}
.cv-btn {
  border: 1px solid gray !important;
  padding: 5px 10px !important;
}
.hexagon {
  background-color: #04c2c9;
  display: inline-block;
  height: 80px;
  width: 100px;
  border-radius: 50%;
}
.bg-dark {
  background-color: #343a40 !important;
  position: sticky;
  top: 0;
  z-index: 9;
}
.power-icon {
  font-size: 50px;
}
.contact-container {
  background-color: rgba(11, 18, 13);
  padding-top: 70px;
}
.contact-form {
  max-width: 500px;
  margin: 0 auto !important;
}
.own-img {
  height: 260px;
  max-width: 50%;
  border-radius: 8%;
}
.pr-img {
  border: 1px solid gray;
}
.skills h5 {
  height: 100%;
  font-size: 18px;
  padding-top: 5px;
}
.svg-icon {
  max-width: 40px;
  height: auto;
  padding-left: 5px;
}
.card-hover {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.card:hover .card-hover {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease;
}

/* Extra Small Devices */
@media only screen and (max-width: 767px) {
  .header-container h1 {
    font-size: 24px;
  }
  .my-image {
    margin-top: 50px;
  }
}

/* Small Devices */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .header-container {
    padding-top: 40px;
  }
}

/* Medium Devices */
@media only screen and (min-width: 993px) and (max-width: 1199px) {
}

/* Large Devices */
@media only screen and (min-width: 1200px) {
}
